@page "/"

@if (IsError == true)
{
    <Error message="@ErrorMessage"></Error>
}
else
{
    <h1>Hello, world!</h1>

    <button @onclick="@OnClickEvent" class="btn btn-primary">Submit</button>
}

@code{

    private bool IsError { get; set; }
    private String ErrorMessage { get; set; }

    public void OnClickEvent()
    {
        try
        {
            int id = 10;

            int result = id / 0;
        }
        catch (Exception ex)
        {
            IsError = true;
            ErrorMessage = ex.Message;
        }
    }

}